
{%  block titulo %}Galeria de imagens{% endblock %}


{%block conteudo_interno%}

{% for galeria in lista_galeria %}
	<br><br/>
	Titulo:{{galeria.titulo}}</br>
	Descricao:{{galeria.descricao}}
	<br><br/>
	{% for imagem in lista_imagem%}
	
		{% if imagem.galeria.idgaleria == galeria.idgaleria and imagem.capa_album%}
			<a href="{% url bancoimagem.views.imagem_aleria idgaleria=imagem.galeria.idgaleria %}">
			<img src="{{ MEDIA_URL }}{{ imagem.img_miniatura }}" alt="{{ imagem.vch_titulo }}" title="{{ imagem.vch_titulo }}" />
			</a>
		
		{% endif %}

	{% endfor%}
{% endfor %}


{%endblock%}

