<div class="block_ligth area_restrita">
	
	<h2>Area Restrita</h2>
	<div class="dados">
		{% if not auth %}
		<div id ="messages_login"><span>Por favor entre com os seus dados pessoais {{menssage}}</span></div>
		
		<fieldset id="login_form">
			 {% csrf_token %}
			<input id="login_user" name="username" type="text" />
			<input id="login_pass" name="password" type="password" />
			<button onclick="logar()" src="{{MEDIA_URL}}images_portal/entrar.jpg"> Entrar </button>
		
		<a href="lose_pass">Esqueci minha senha</a>
		</fieldset>
		
		{% else %}
			
			{% if not user_perfil.img_foto %}
				<div id="auth_foto">
					<img src="{{MEDIA_URL}}/images_portal/user_none.jpg"  />
				{{user_perfil.img_foto}}
				</div>
			{% endif %}
			
			SEJA BEM VINDO
			 <br /><strong>{{auth.username}}</strong>
			<a href="/logout/">Sair</a>
		{% endif %}
		
	</div>
</div>
