<ul class="bandeiras_thin">
	<li><a href="http://www.gentedeclasse.com.br/index"><img src="images_portal/portuguese-br.png"></a></li>
	<li><a href="http://translate.google.com.br/translate?hl=pt-BR&amp;sl=pt&amp;tl=en&amp;u=http%3A%2F%2Fwww.gentedeclasse.com.br/index"><img src="images_portal/english.png"></a></li>
	<li><a href="http://translate.google.com.br/translate?hl=pt-BR&amp;sl=pt&amp;tl=es&amp;u=http%3A%2F%2Fwww.gentedeclasse.com.br/index"><img src="images_portal/spanish.png"></a></li>
</ul>

				

			