<div class="block_ligth enquete">
	<h2>Enquete</h2>
	<div class="dados">
		{% if ultima_enquete%}
		<span>{{ultima_enquete.pergunta|safe}}</span>
		<fieldset  id="enquete">
			<input id="id_enquete" type="hidden" value="{{ultima_enquete.id_enquete}}" />
			{% for opsao in enquete_esolhas %}
				<input onclick="escolher(this.value)" type="radio" name="escolha" value="{{opsao.id_escolha}}" />
				<label>{{opsao.escolha}}</label><br />
			{% endfor %}
<div class="jui">			
			<button id="votar" onclick="votar()" type="image" src="{{MEDIA_URL}}images_portal/entrar.jpg"/>Votar</button>
</div>
		</fieldset>
		{%endif%}
		<div style="height:30px"><img onclick="relatorio()" style="vertical-align:middle;height:20px" height="20" src="{{MEDIA_URL}}images_portal/icon_grafico.jpg" />  100 votos</div>
		
	</div>	
</div>
