<div class="block_ligth enquete">
	<h2>Enquete</h2>
	<div class="dados">
		<span>{{ultima_enquete.pergunta|safe}}</span>
		<form method="POST" action="/enquete/votar/1/">
			{% csrf_token %}
			{% for opsao in enquete_esolhas %}
				<input type="radio" name="escolha" id="choice" value="{{opsao.id_escolha}}" />
				<label>{{opsao.escolha}}</label><br />
			{% endfor %}
			<input id="votar" type="image" src="images_portal/entrar.jpg" value="fasdfasd"/>
		</form>
		
		<div style="height:30px"><a style="" href=""><img style="vertical-align:middle;height:20px" height="20" src="images_portal/icon_grafico.jpg" />  100 votos</a></div>
		
	</div>	
</div>
