<div class="block_ligth enquete">
	<h2>Enquete</h2>
	<div class="dados">
		<span>Pergunta da enquete</span>
		<form method="POST" action="/logar">
			
			<input type="radio" name="choice" id="choice" value="1" />
			<label> não</label><br />
			
			<input type="radio" name="choice" id="choice" value="1" />
			<label> sim</label><br />
			
			<input id="votar" type="image" src="images_portal/entrar.jpg" value="fasdfasd"/>
			
		</form>
		
		<div style="height:30px"><a style="" href=""><img style="vertical-align:middle;height:20px" height="20" src="images_portal/icon_grafico.jpg" />  100 votos</a></div>
		
	</div>	
</div>
