<div id="noticia_box">
{% for noticia in noticias_destaque%}
	<div id="noticia_destaque_{{forloop.counter}}" class="noticia_destaque">
			<img width="580" height="230" src="{{MEDIA_URL}}{{noticia.img_foto}}" />
			<div class="noticia_destaque_descricao"></div>
			<div class="destaque_conteudo">
				<a onclick="noticia_destaque_anterior()" id="ctr_prev">left</a>
					<span>{{noticia.vch_titulo}}</span>
				<a onclick="noticia_destaque_proximo()" id="ctr_next">proximo</a>
			</div>
	</div>
{%endfor%}
</div>
