<div class="block_full">
	
	<h2>Vídeos</h2>
	<div class="dados">
		<div class="img_video_full">
			<img src="fotovideo/" /><!--{{ imgVideoLigth }}-->
			<span>
			A populacao de palmas bla bla bal
			</span>
		</div>
		
		<div class="img_video_full">
			<img src="fotovideo/" /><!--{{ imgVideoLigth }}-->
			<span>
			A populacao de palmas bla bla bal
			</span>
		</div>
		<div class="img_video_full">
			<img src="fotovideo/" /><!--{{ imgVideoLigth }}-->
			<span>
			A populacao de palmas bla bla bal
			</span>
		</div>
		
	</div>
	<a href="">veja mais +</a>
	
</div>
