
<div class="block_ligth">
	<h2>Vídeos</h2>
	<div class="dados">
		{% for video in lista_imagem_video %}
			{% if video.2 %}
					<div class="img_video_ligth">
						<a class="img_video_ligth" href="{%url video.views.galeria_video video_id=video.0%}">
							<img src="{{ MEDIA_URL }}{{ video.2}}" alt="{{ imagem.1 }}" />			
						</a>
						
					</div>				
				{% else %}		
					<div class="img_video_ligth">
						<a class="video_frame" href="{%url video.views.galeria_video video_id=video.0%}">
							<img src="http://i1.ytimg.com/vi/{{video.3}}/default.jpg" alt="{{ imagem.1 }}" />			
						</a>
					</div>
	
			{% endif %}						
			{% endfor %}
		
	</div>
	<a href="/video/videos/">veja mais +</a>
	
</div>







