{% extends 'layout.html' %}
{%  block titulo %}Videos{% endblock %}

{% block direita %}{% endblock %}



{% block includecss %}
	<link rel="stylesheet" href="{{MEDIA_URL}}css/fancybox/jquery.fancybox-1.3.4.css" type="text/css" />
{%endblock%}


{%block conteudo%}

	<div id="conteudo_interno">
		<div id="content">
			<h3>Vídeos</h3>
	
			{% for video in lista_imagem_video %}						
				<div class="galeria">
					<div class="descricao_galeria">{{ video.1 }} </div>
					<div class="foto_galeria">
						<a class="video_frame" href="{%url video.views.galeria_video video_id=video.0%}">
							<img src="{{ MEDIA_URL }}{{ video.2}}" alt="{{ imagem.1 }}" />			
						</a>
						
					</div>
				</div>
				
	
			{% endfor %}

		</div>
		
	</div>	
{% endblock %}

{%block includejs%}
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}js/fancybox/jquery.easing-1.3.pack.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}js/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
	
{% endblock %}

	
{% block scriptjs %}
	<script type="text/javascript">
			$(document).ready(function() {
				/*
				*   Examples - images
				*/
				$(".video_frame").fancybox({
					'width'				: '50%',
					'height'			: '83%',
					'autoScale'			: false,
					'transitionIn'		: 'none',
					'transitionOut'		: 'none',
					'type'				: 'iframe'
				});
	
				
			});
		</script>

{% endblock %}
		



