

{% extends 'layout.html' %}
{%  block titulo %}Galeria de imagens{% endblock %}


{% block direita %}{% endblock %}


{%block conteudo%}

	<div id="conteudo_interno">
			<h3>Galeria de imagens</h3>
	
			{% for galeria in lista_galeria %}
				<div class="galeria">
				<div class="descricao_galeria">
					Titulo:{{galeria.titulo}}</br>
					Descricao:{{galeria.descricao}}
				
				</div>
				{% for imagem in lista_imagem%}
				
					{% if imagem.galeria.idgaleria == galeria.idgaleria and imagem.capa_album%}
							<div class="foto_galeria">
								<a href="{% url bancoimagem.views.imagem_aleria idgaleria=imagem.galeria.idgaleria %}">
									<img src="{{ MEDIA_URL }}{{ imagem.img_miniatura }}" alt="{{ imagem.vch_titulo }}" title="{{ imagem.vch_titulo }}" />
								</a>
							</div>
					{% endif %}
			
				{% endfor%}
			</div>
			{% endfor %}
			
	</div>

{%endblock%}

