<!DOCTYPE html>
<html lang="pt">

	<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>{%  block titulo %}espiga.com{% endblock %}</title>
		<link rel="stylesheet" href="{{MEDIA_URL}}css/layout.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="{{MEDIA_URL}}css/jquery_ui/jquery-ui-1.8.11.custom.css" type="text/css" media="screen" />
		<link rel="shortcut icon" href="favicon.ico" />
		<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery_ui/jquery-ui-1.8.11.custom.min.js"></script>
	{%block includejs%}
		<script type="text/javascript" src="{{MEDIA_URL}}/js/paginas_internas/index.js"></script>
		
	{%endblock%}
	
		{% block includecss %}{%endblock%}
	</head>
	<body>
		<div id="head">
			<div id="topo">
				<div id="cabecalho">
					{% block cabecalho %}{% endblock %}
				</div>
				<div id="logo">
					<img src="{{MEDIA_URL}}images_portal/logo.jpg">
					</img>
				</div>

			</div>
		</div>
		<div id="menu">
			<ul>
				<li>
					PRINCIPAL
				</li>
				<li>
					INSTITUCIONAL
				</li>
				<li>
					SERVIÇOS
				</li>
				<li>
					FOTOS
				</li>
				<li>
					VÍDEOS
				</li>
				<li>
					NOTÍCIAS
				</li>
				<li>
					ARTIGO
				</li>
				<li>
					LINKS
				</li>
				<li>
					CONTATO
				</li>
			</ul>
		</div>
		
			{% include "graos_index/full_banner.html" %}
		
		<div id="content">
			{% block colunaEsquerda %}
			<div id="coluna-esquerda">
				{% include "graos_index/banner_esquerda.html" %}
				{% include "graos_index/area_restrita.html" %}
				{% include "graos_index/videos_ligth.html" %}
				{% include "graos_index/netWorks_ligth.html" %}
			</div>
			{% endblock %}
			
			{% block conteudo %}
			<div id="conteudo">
				
				{% include "graos_index/noticias_destaque.html" %}
				{% include "graos_index/noticias_lista.html" %}
				{% include "graos_index/fotos_full.html" %}
				
			</div>
			{% endblock %}
			
			{% block direita %}
			<div id="coluna-direita">
				{% include "graos_index/banner_direita.html" %}
				{% include "graos_index/enquete.html" %}
			</div>
			{% endblock %}
			
			<div id="aux">
			</div>
		</div>
		<div id="rodape">
			<div id="image_rodape">
				<img src="{{MEDIA_URL}}images_portal/logo.jpg" />
			</div>
			<div id="rodape_palmasite">
				{% block rodape %}
				Powered by PALMASITE INTERNET GROUP - Site Desenvolvido ESPIGA CMS!
				<img id="by_palmasite" src="" />
				{% endblock %}
			</div>
		</div>
	</body>
	

	
	{% block scriptjs%}{% endblock %}	

