/* 
 * Configurações Geral
 */

html {overflow-y: scroll;}
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small,  strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-family: Arial, Droid, Verdana, Helvetica, sans-serif;
	line-height:1.3em;
}
body {
	line-height: 1;
	text-align: center;
	background: url("img/bg.jpg") repeat-x;
	font-size:13px;
	
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
section, article, aside, header, footer, nav, dialog, figure {
	display:block;
}
ul{list-style:none}
a{text-decoration:none;color:#000}
input{border: none;height: 28px}

/* 
 * Estrutura
 */
#head{width:100%;height: 130px;background:#254689}
#topo{width:1000px;height: 130px;background:#254689;margin:0 auto;background: url("../images_portal/topo_bg.png") repeat-x}
#cabecalho{width:990px;height: 20px;background: #845768;margin:0 auto;text-align: right;padding: 5px ;background: url("../images_portal/head_bg.png")}
#menu{width:100%;height: 50px;background:#435674;text-align: center}
#content{width:1000px;background:#378264;margin:0 auto}
#coluna-esquerda{width:200px;float:left}
#conteudo{float:left;margin: 0 10px;width:580px}
#conteudo_interno{padding:10px;float:left;width:768px;border: solid 1px #EAEAEA;background:#f5f5f5;text-align: left;margin-left:10px}
#conteudo_interno h3{border-left:solid 5px #123345;padding:5px;background-color: #EEEEEE;}
#conteudo_geral{float:left;width:1000px;border: solid 1px #EAEAEA;background:#f5f5f5;text-align: left;margin-left:10px}
#coluna-direita{width:200px;height:500px;float:left}
#rodape{width:100%;height:150px;background:url("../images_portal/rodape_bg.png") #459 repeat-x;float:left}
#image_rodape{width:1000px;height:85%;margin:0 auto;}
#rodape_palmasite{color:#fff;width:1000px;height:10%;margin:5px auto;text-align: left}
/*
 * logo
 */
#logo{width:1000px;margin:0 auto;text-align:left;padding:15px}
#logo img{}
/*
 * menu
 */
#menu {background:url("../menu_bg.png")}
#menu ul{list-style: none;margin:0 auto;width:1000px}
#menu ul li{float:left;padding:15px 20px}

/*
 * Graos
 */

h2{padding:5px 2px;border-left:solid 10px #123345} /* ---------------------------Primeira Cor do sistema*/
.dados{padding:5px;border:solid 1px #fff;margin-top:10px;text-align: left}
.block_ligth{padding:15px;background:#F5F5F5;margin-bottom:10px;border:solid 1px #EAEAEA}
.block_ligth a{font-weight: bold;text-decoration: none;color:#000;margin:10px 0;display:block}
.block_ligth span{font-size:13px;display:block;text-align:left;margin:5px 0}

.block_full{margin-top:20px;border:solid 1px #EAEAEA;background:#F5F5F5;text-align:left;padding:10px}
.block_full h2{text-align: left;padding-left: 15px;margin-left:10px}

.ver_mais{font-weight: bold;margin:10px 20px 0px 0;margin:8px;display:block;text-align:right;font-size:12px;height: 20px;clear:both}

#votar{margin:10px 30px}



/*
 * full banner
 */

#full_banner{margin:0 0 10px 0;position:relative;width:100%;height: 150px;overflow: hidden}
.banner_image{display:none;position:absolute;width:100%;}


/*
 * Area_restrita
 */
.area_restrita input[type="text"]{margin: 5px 0;border: none;height: 26px;background: url("../images_portal/usr.jpg") no-repeat #fff;padding-left:30px;width:120px }
.area_restrita input[type="password"]{margin: 5px 0;border: none;height: 26px;background: url("../images_portal/pass.jpg") no-repeat #fff;padding-left:30px;width:120px }
/*
 * Videos_light
 */
.dados{padding:5px;border:solid 1px #fff;margin-top:10px}
.img_video_ligth{width:151px; height: 87px; background:#A02221;padding:2px;overflow: hidden} /* ---------------------------Primeira Cor do sistema*/

/*
 * Fotos_full
 */
 
.dados{padding:5px;border:solid 1px #fff;margin-top:10px;text-align:center;text-align:center}
.img_video_full{width:150px; height: 87px; background:#fff;border:solid 1px #333;padding:2px;overflow: hidden;float:left;margin:10px} /* ---------------------------Primeira Cor do sistema*/
.img_video_full img{width:145px; height: 77px;margin:5px 2px}
.galeria_full_index{width:170px;float:left;}
.galeria_full_index span{margin-left:15px;}

/*
 * netWorks_ligth
 */

.netWorks_ligth{width:100%;height: 100px;background: #000;margin-bottom: 10px} /* ---------------------------Segunda Cor do sistema*/
.netWorks_ligth span{color:#fff;display:block;text-align: left;margin:10px}																 /* ---------------------------Segunda Cor do sistema*/
.netWorks_ligth .netWorks_icones{border:solid 1px #333;width:166px;height: 46px;margin-left:15px}
.netWorks_ligth img{margin-top:5px}



/*
 * bandeiras_thin
 */
.bandeiras_thin {list-style: none;}
.bandeiras_thin li{display:inline-block}

/*
 * enquete
 */
.enquete{text-align:center}
.enquete span{width:120px}
.enquete button{width:61px;margin-left:20px}
/*
 */
 
/*
 * Noticias_lista
 */

ul.noticias_lista{list-style: none}
ul.noticias_lista li{}
ul.noticias_lista li span{font-weight: bold}  
  

/*Links_rapidos*/
#links_rapidos{width:90%;margin-top:10px;border:none;height: 25px;background: #ddd;color:#333;}

/* noticia_destaque*/
#noticia_box{position:relative;height: 220px}
.noticia_destaque{position:absolute;display: none}
.noticia_destaque_descricao{background:#A20000;height: 30px;width:580px;position:absolute;top:200px;opacity: 0.8;}
.noticia_destaque .destaque_conteudo{position:absolute;top:205px;color:#fff;margin:auto;width:580px;height: 20px}
.noticia_destaque a#ctr_prev{}
.noticia_destaque a#ctr_next{}
.destaque_conteudo span{width:450px;display: inline-block}


/*--------------warley ---------------- */
/* noticia_destaque*/
.outras_noticias{float:left;display:inline;margin:20px;width: 95%}
.outras_noticias h3{border-left:solid 5px #123345;padding:5px;background-color: #EEEEEE;}
.outras_noticias ul{list-style: none;}
.outras_noticias li{margin:5px}
.outras_noticias h4{color: #666666;font-size:12px}
.outras_noticias .date { 
	background-color: #EEEEEE;
    border-right: 5px solid #CCCCCC;
    float:left;
    color: #666666;
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 0;
    margin-right: 10px;
    padding: 5px 0;
    text-align: center;
    width: 140px;}

.outras_noticias .conteudo{height: 22px;}


/* noticia detalhadas */

.noticia_detalhada{margin: 20px}
.noticia_detalhada h3{border-left:solid 5px #123345;padding:5px;background-color: #EEEEEE;}
.noticia_detalhada p {color: #666;margin-bottom: 20px}
#noticia_date{font-size:10px;margin: 5px}
#noticia_titulo{font-size:15px; font-weight: bold}
#noticia_conteudo{margin:5px}
#noticia_autor{text-align: right;}




/* noticia RELACIONADAS */

.noticias_relacionadas{float:left;display:inline;margin:20px;width: 95%}
.noticias_relacionadas h3{border-left:solid 5px #123345;padding:5px;background-color: #EEEEEE;}
.noticias_relacionadas ul{list-style: none;}
.noticias_relacionadas li{margin:5px}
.noticias_relacionadas h4{color: #666666;font-size:12px}
.noticias_relacionadas .date { 
	background-color: #EEEEEE;
    border-right: 5px solid #CCCCCC;
    float:left;
    color: #666666;
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 0;
    margin-right: 10px;
    padding: 5px 0;
    text-align: center;
    width: 140px;}

.noticias_relacionadas .conteudo{height: 22px;}

/* formulario de noticias*/
#noticia_formbusca h3{margin-bottom:20px;border-left:solid 5px #123345;padding:5px;background-color: #EEEEEE;}
#noticia_formbusca {margin: 20px 20px 10px 20px}


/* Galeria de imagens */

.galeria{float:left;margin: 10px;width: 235px; }
.foto_galeria img{width: 100px;float:left;}
.foto_galeria {width: 100px;background:#fff;border:solid 1px #666;float:left;padding:5px;margin-right: -80px;box-shadow: 5px 5px 10px #666;-webkit-box-shadow: 5px 5px 10px #666;-moz-box-shadow: 5px 5px 10px #666;}
.descricao_galeria{margin: 7px;}


/* Galeria de videos  */

.galeria_video{float:left;margin: 10px;width: 235px; }
.foto_galeria_video img{width: 100px;float:left;}
.foto_galeria_video {width: 100px;background:#000;border:solid 1px #666;float:left;padding:5px;margin-right: -80px;box-shadow: 5px 5px 10px #666;-webkit-box-shadow: 5px 5px 10px #666;-moz-box-shadow: 5px 5px 10px #666;}
.descricao_galeria_video{margin: 7px;}

/*  Contato */ 

#formcontato {width: 345px;float:left;padding: 10px}
#formcontato input[type = "text"]{width: 345px;}
#formcontato select{width: 345px;}
#formcontato ul.errorlist{color: #C30}
#formcontato form{margin-top: 20px}


#informacaocontato{padding: 10px;width: 363px;float:left}
#informacaocontato iframe{width: 363px}
#informacaocontato h3{margin-bottom: 20px}